* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	min-width: 800px;
}
h1 {
    font-size: 36px;
}
h2, .order p:first-child, .corporate p:first-child, .handcrafted p:first-child {
    text-transform: uppercase;
}
h3 {
    padding-bottom: 20px;
}
h4 {
    padding: 30px 30px 30px 12%;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
}
ul li {
    padding-bottom: 15px;
}
.search input, .footer_forms form input, .footer_forms button, .order_now button {
    height: 28px;
    width: 190px;
    border: 1px solid gray;
    border-radius: 12px;
    outline: none;
    color: #9E9C9C;
}
.search input, .footer_forms form input {
    padding-left: 10px;
}
.footer_forms button {
    background-color: #3CB371;
    color: white;
    text-align: center;
}
.footer_forms form {
    padding-bottom: 15px;
}
.footer_forms p {
    padding-bottom: 15px;
}
.menu, .head, .secure, .secure div, .footer_info, .sign, .top_header, .flower_button, .flowericons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12%;
}
.secure div {
    padding: 0;
}
.top_header {
    justify-content: flex-end;
}
.top_header div {
    margin-right: 10px;
    padding-right: 10px;
}
.top_header div:last-child {
    margin-right: 0;
    padding-right: 0;
}
.menu {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.secure {
    border-bottom: 1px solid gray;
}
.secure div img {
    width: 30px;
    padding-right: 5px;
}
.links, .useful, .footer_forms, .footer_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300px;
}
.links, .useful, .footer_forms {
    padding-right: 50px;
}
.footer a {
    margin-bottom: 6px;
}
.footer_info {
    background-color: #DCDCDC;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer_info div {
    width: 25%;
}
.footer_text ul {
    text-align: justify;
}
.sign {
    padding: 16px 12%;
}
.pay img, .icon img{
    height: 25px;
}
.grid-container {
    padding: 12px 12%;
    display: grid;
    height: 450px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(3, 1fr); 
    grid-column-gap: 3px; 
    grid-row-gap: 8px;
    grid-template-areas: 
    "order img_flowers"
    "corporate img_flowers"
    "handcrafted img_flowers";
}
.img_flowers img {
    max-width: 100%;
}
.img_flowers {
    grid-area: img_flowers;
    overflow: hidden;
}
.grid-container div a img {
    width: 20%;
    overflow: hidden;
}
.order_now {
    grid-area: 2 / 2 / span 1 / span 1;
    text-align: center;
    padding-right: 10%;
    padding-left: 40%;
    font-size: 30px;
}
.order_now button {
    color: black;
    font-size: 16px;
}
.flowericons div p {
    text-align: center;
}
.flow1 {
    width: 25%;
}
.flow1 img {
    width: 100%;
}
.flower_button {
    justify-content: space-around;
}
.flower_button button {
    height: 20px;
    width: 60%;
    border: 1px solid gray;
    border-radius: 12px;
    outline: none;
    color: #9E9C9C;
}
.order_now div {
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}
.order_now p {
    font-style: italic;
    font-size: 42px;
    color: #483D8B;
}